<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Resume|Software Developer|Charles Martin Virtusio</title>
    <!-- Meta -->
    <meta charset="utf-8">
	{% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resume|Software Developer|Charles Martin Virtusio">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
	<link rel="shortcut icon" href="{% static 'resume/images/favicon.ico' %}"> 
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'resume/plugins/bootstrap/css/bootstrap.min.css' %}" type = "text/css"/>   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'resume/plugins/font-awesome/css/font-awesome.css' %}">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'resume/css/styles-3.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="{% static 'resume/images/favicon-cv-large.png' %}" alt="" />
                <h1 class="name">Charles Virtusio</h1>
                <h3 class="tagline">Software Developer</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
					<li ><i class="fa fa-download"><a href="{% static 'resume/images/SWDevResume.pdf' %}" download="Resume.pdf"></i>Download Resume</li>
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:virtusio.charlesmartin@gmail.com">virtusio.charlesmartin@gmail.com</a></li>
                    <li class="phone"><i class="fa fa-phone"></i>+1.416-240-1859</li>
                    <li class="website"><i class="fa fa-globe"></i><a href="http://cmvirtusio.info" target="_blank">cmvirtusio.info</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/cmvirtusio" target="_blank">linkedin.com/in/cmvirtusio</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">BASc in Computer Engineering</h4>
                    <h5 class="meta">University of Waterloo</h5>
                    <div class="time">2012 - 2017</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
			<div class="interests-container container-block">
                <h2 class="container-block-title">Relevant Courses</h2>
                <ul class="list-unstyled interests-list">
                    <li>Cooperative and Adaptive Algorithms</li>
                    <li>Fundamentals of Computational Intelligence</li>
                    <li>Programming for Performance</li>
					<li>Database Systems</li>
					<li>Algorithms and Data Structures</li>
					
                </ul>
            </div><!--//interests-->
			
			<div class="interests-container container-block">
                <h2 class="container-block-title">Technical Skills</h2>
                <ul class="list-unstyled interests-list">
                    <li>General Software Development</li>
                    <li>General Software Testing</li>
                    <li>Linux Bash Scripting</li>
					<li>Windows Batch Scripting</li>
					<li>Windows Application Development</li>
					<li>Web Development (Server-side)</li>
					
                </ul>
            </div><!--//interests-->
			
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>Filipino <span class="lang-desc">(Native)</span></li>
                    <li>Klingon <span class="lang-desc">(Beginner)</span></li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Skills Summary</h2>
                <div class="summary">
                    <p>Familiar with different types of testing, revision control, data management and data structures</p>
					<p>Effective team member needing minimal super vision developed while working on engineering projects</p>
					<p>Capable of working under pressure, fast learning, competitive, dedicated and willing to work regardless of circumstances</p>

					</div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Software Engineer</h3>
                            <div class="time">09/2016 - 12/2016</div>
                        </div><!--//upper-row-->
                        <div class="company">NVIDIA Corporation, Santa Clara, CA, USA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Improved product development process by implementing scripts, and programs that automates previously manual process</p>  
                        <p>Implemented Perl and Python scripts to harvest metadata from database and perforce version control for data analytics and statistical analysis </p>
						<p>Implemented excel VBA scripts to improve data harvest and data mining process</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Windows App Developer</h3>
                            <div class="time">05/2015 - 12/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">BicDroid Inc, Toronto, ON, CAN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked extensively on multimedia framework which help me develop a working knowledge of different multimedia framework architectures, multimedia format types, and expose me to openCV library</p>  
						<p>Built tools for a security system, QDocument, which includes audio-video capture, audio-video playback, and network function calls which improved my computer security awareness</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">.NET Web Developer/Tester</h3>
                            <div class="time">09/2014 - 12/2014</div>
                        </div><!--//upper-row-->
                        <div class="company">HGMercantile Industries, Toronto, ON, CAN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked on API centric architecture and used MVC design pattern for web development. Also, helped develop and test Qicsend.com and the corresponding customer support application</p>  
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">.NET Web Developer</h3>
                            <div class="time">09/2013 - 12/2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Toronto Transit Commission, Toronto, ON, CAN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Added extra features to existing web application built on .NET framework. Implemented Oracle SQL queries to improve performance and to make backend database more maintainable. Used JavaScript with jQuery library to improve client-side performance</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <span class="project-title">Engineering Capstone (Risk Management Tool)</span>
					<div class="details">
                        <p>Developed a web application using Django Framework that aims to help traders make more risk informed decisions.</p>  
						<p>Implemented and compared metaheuristic algorithms namely Genetic Algorithm, Ant Colony Algorithm and Simulated Annealing that finds the optimal portfolio given N number of assets and their statistical features like mean, variance, skewness and kurtosis.</p>  
                    </div><!--//details-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Programming Languages</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">C++</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">C#</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">Java</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">Javascript</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">Perl</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">Excel VBA</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">MATLAB</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">Haskell</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="{% static 'resume/plugins/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'resume/plugins/bootstrap/js/bootstrap.min.js' %}"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="{% static 'resume/js/main.js' %}"></script>            
</body>
</html> 

