
<html>

<head>
  <title>MarketWatch</title>
  <link rel="stylesheet" href="css/test.css" type="text/css">
</head>

<body>
	<!-- TradingView Widget BEGIN -->
<span id="tradingview-copyright"><a ref="nofollow noopener" target="_blank" href="http://www.tradingview.com" style="color: rgb(173, 174, 176); font-family: &quot;Trebuchet MS&quot;, Tahoma, Arial, sans-serif; font-size: 13px;">Market Quotes by <span style="color: #3BB3E4">TradingView</span></a></span>
<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js">
{
  "showChart": true,
  "locale": "en",
  "width": "100%",
  "height": "100%",
  "largeChartUrl": "http://cmvirtusio.info/marketwatch/chart/",
  "plotLineColorGrowing": "rgba(60, 188, 152, 1)",
  "plotLineColorFalling": "rgba(255, 74, 104, 1)",
  "gridLineColor": "rgba(233, 233, 234, 1)",
  "scaleFontColor": "rgba(218, 221, 224, 1)",
  "belowLineFillColorGrowing": "rgba(60, 188, 152, 0.05)",
  "belowLineFillColorFalling": "rgba(255, 74, 104, 0.05)",
  "symbolActiveColor": "rgba(242, 250, 254, 1)",
  "tabs": [
	{
      "title": "Equities Futures",
      "symbols": [
        {
          "s": "OANDA:SPX500USD",
          "d": "SPX"
        },
        {
          "s": "OANDA:US30USD",
          "d": "Dow Jones"
        },
        {
          "s": "OANDA:NAS100USD",
          "d": "NQ"
        },
        {
          "s": "OANDA:US2000USD",
          "d": "Russell 2000"
        },
        {
          "s": "OANDA:DE30EUR",
          "d": "Dax"
        },
        {
          "s": "OANDA:EU50EUR",
          "d": "Stoxx 50"
        },
        {
          "s": "OANDA:UK100GBP",
          "d": "FTSE 100"
        },
        {
          "s": "OANDA:JP225USD",
          "d": "Nikkei 225"
        }
      ]
    },
    {
      "title": "Equities ETF",
      "symbols": [
        {
          "s": "AMEX:SPY",
          "d": "US Large Caps"
        },
		{
          "s": "AMEX:IWM",
          "d": "US Small Caps"
        },
        {
          "s": "AMEX:EFA",
          "d": "Developed xUSA"
        },
        {
          "s": "AMEX:EEM",
          "d": "Emerging Markets"
        },
        {
          "s": "AMEX:EWZ",
          "d": "Brazil"
        },
        {
          "s": "AMEX:RSX",
          "d": "Russia"
        },
        {
          "s": "AMEX:INDA",
          "d": "India"
        },
        {
          "s": "AMEX:FXI",
          "d": "China"
        }
      ]
    },
    {
      "title": "Sectors",
      "symbols": [
        {
          "s": "AMEX:XLK",
          "d": "Technology"
        },
        {
          "s": "AMEX:XLF",
          "d": "Finance"
        },
        {
          "s": "AMEX:XLE",
          "d": "Energy"
        },
        {
          "s": "AMEX:XLY",
          "d": "Consumer Discretionary"
        },
        {
          "s": "AMEX:XLI",
          "d": "Industrial"
        },
        {
          "s": "AMEX:XLB",
          "d": "Materials"
        },
        {
          "s": "AMEX:XLP",
          "d": "Consumer Staples"
        },
        {
          "s": "AMEX:XLV",
          "d": "Healthcare"
        },
        {
          "s": "AMEX:XLU",
          "d": "Utilities"
        },
        {
          "s": "AMEX:IYR",
          "d": "Real Estate"
        }
      ]
    },
    {
      "title": "Bonds",
      "symbols": [
        {
          "s": "NASDAQ:TLT",
          "d": "20+ Year Bonds"
        },
        {
          "s": "NASDAQ:IEF",
          "d": "10 Year Bonds"
        },
        {
          "s": "NASDAQ:SHY",
          "d": "2 Year Bonds"
        },
        {
          "s": "AMEX:LQD",
          "d": "Investment Grade Bonds"
        },
        {
          "s": "AMEX:HYG",
          "d": "Junk Bonds"
        },
        {
          "s": "NASDAQ:BNDX",
          "d": "Developed Market Bonds"
        },
        {
          "s": "NASDAQ:EMB",
          "d": "Emerging Market Bonds $Hedged"
        },
        {
          "s": "AMEX:EMLC",
          "d": "Emerging Market Bonds"
        }
      ]
    },
    {
      "title": "Commodities",
      "symbols": [
        {
          "s": "COMEX:GC1!",
          "d": "Gold"
        },
        {
          "s": "COMEX:SI1!",
          "d": "Silver"
        },
        {
          "s": "COMEX:HG1!",
          "d": "Copper"
        },
        {
          "s": "NYMEX:CL1!",
          "d": "WTI Crude Oil"
        },
        {
          "s": "NYMEX:NG1!",
          "d": "Natural Gas"
        },
        {
          "s": "CBOT:ZS1!",
          "d": "Soybeans"
        },
        {
          "s": "CBOT:ZW1!",
          "d": "Wheat"
        },
        {
          "s": "CBOT:ZC1!",
          "d": "Corn"
        }
      ]
    },
    {
      "title": "Forex",
      "symbols": [
        {
          "s": "FX:EURUSD",
          "d": "EURUSD"
        },
        {
          "s": "FX:USDJPY",
          "d": "USDJPY"
        },
        {
          "s": "FX:GBPUSD",
          "d": "GBPUSD"
        },
        {
          "s": "FX:USDCHF",
          "d": "USDCHF"
        },
        {
          "s": "FX:USDCAD",
          "d": "USDCAD"
        },
        {
          "s": "FX:AUDUSD",
          "d": "AUDUSD"
        },
        {
          "s": "FX:NZDUSD",
          "d": "NZDUSD"
        }
      ]
    },
    {
      "title": "Crypto",
      "symbols": [
        {
          "s": "BITFINEX:BTCUSD",
          "d": "Bitcoin"
        },
        {
          "s": "BITFINEX:BCHUSD",
          "d": "BitcoinCash"
        },
        {
          "s": "BITFINEX:ETHUSD",
          "d": "Ethereum"
        },
        {
          "s": "BITFINEX:LTCUSD",
          "d": "Litecoin"
        },
        {
          "s": "BITFINEX:XRPUSD",
          "d": "Ripple"
        },
        {
          "s": "BITFINEX:IOTUSD",
          "d": "IOTA"
        }
      ]
    }
  ]
}
</script>
<!-- TradingView Widget END -->

</div>
</body>
</html>